<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Version Control</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto right">
      <li class="nav-item active">
        <a class="nav-link" href="#"> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      
    </ul>
    </div>
    <ul class="navbar-nav right">
      <li class="nav-item">
        <a class="nav-link" href="/views/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/repository">Repository</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/feedback">Feedback</a>
      </li>
      </ul>
</nav>